






























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































.venv/
.venv312/
_ _pycache_ _/
*.pyc